/* Generell design */
body { 
    margin: 0px;
    background-color: #f2d7d3; 
}

main { 
    display: block;
    width: 80%;
    padding: 40px 5%;
    margin: 0px auto 0px auto;
    background-color: #f2eee9;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #e85234;
}

p, table {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.btn {
    margin: 40px 0px;
    padding: 5px 10px;
    background-color: #e85234;
    color:#f2eee9;
    font-weight: 700;
    border: 1px solid #e85234;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ac3b25;
}

/* Formulär design*/
#errorMessage {
    font-weight: 900;
    color:#d11f00;
}

input {
    margin: 10px 0px;
    padding: 5px 10px;
    border: 1px solid #363636;
    border-radius: 5px;
}

#courseName {
    width: 50%;
}

#courseCode, #link {
    width: 25%;
}

#progression {
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #363636;
    border-radius: 5px;
}

/* Table design*/
table {
    width: 80%;
}

td {
    padding: 10px 20px;
}

td > a {
    text-decoration: none;
}

thead {
    background-color:  #f9b8af;
    color: #363636;
}

tbody > tr:hover {
    background-color: #f2d7d3;
}

#remove {
display: none;
}

@media screen and (max-width: 820px) {
    label { display: block; margin-top: 10px;}
    input { width: 70% !important;}
}

@media screen and (max-width: 460px) {
    body { background-color: #f2eee9; }
    main { margin: 0px; padding: 40px 0px; width: 100%; }
    section { padding: 0px 5px; }
    td { padding: 10px 10px; }
}